  <h2>Create a new list:</h2>

  <% if @errors %>
    <ul>
      <% @errors.each do |error| %>
        <li style="color:red"><%= error %></li>
      <% end %>
    </ul>
  <% end %>

    <form action="/users/<%= current_user.id %>/tasks/new" method="post">
      <h4><label for="title">List Title: </label></h4>
      <input type="text" name="title"><br><br>

      <input type="submit" value="Create List">
      <hr><br>
      
    </form>
