<%= erb :_errors, locals: {errors: @errors}, layout: false %>

<div class="container-form">
<form class="form-new-list" action="/lists" method="post">
  <input type="text" name="name" placeholder="List Name">
  <input type="submit" value="Create List">
</form>
</div>
