<h2>Update title</h2>
<form class="" action="/lists/<%= @list.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <input type="text" name="list[title]" value="<%= @list.title %>">

  <input type="submit" value="Update">
</form>
