<% if logged_in? %>
  <section id="newList">
    <a href="/lists/new">Create New Todo List</a>
  </section>
<% end %>

<section id="listDisplay">
  <% @lists.each do |list| %>
    <%= erb :'lists/_show_one', locals: {list: list} %>
  <% end %>
</section>