<%= erb(:_errors) %>

<h2>Create new list</h2>
<form class="" action="/lists" method="post">
  <label for="title">Title:</label>
  <input type="text" name="list[title]" value="">

  <input type="submit" value="Submit">
</form>
