<h1><%= @list.name %></h1>
<% if !logged_in? %>
  <h3>Tasks</h3>
<% elsif logged_in? %>
  <h3>Tasks</h3>
  <div><a href="/lists/<%= @list.id %>/tasks/new">Create New Task</a></div>
<% end %>

<ul>
  <% @tasks.each do |task| %>
    <li><a href="/tasks/<%= task.id %>"><%= task.description %></a></li>
  <% end %>
</ul>
