<form class="form-register" action="/register" method="post">
  <input type="text" name="user[username]" placeholder="Username">
  <input type="text" name="user[email]" placeholder="Email">
  <input type="password" name="user[password]" placeholder="Password">
  <input type="password" name="user[password_confirmation]" placeholder="Password Confirmation">
  <input type="submit" value="Register">
</form>
