<h1>Log In:</h1>
<fieldset>
  <form method="post" action="/sessions">
    <label>Username:</label>
    <input type='text' name=username placeholder="Username">
    <br>

    <label>Password:</label>
    <input type='password' name=password placeholder="Password">
    <br>

    <input type='submit' value="Log In">
  </form>

  <% if @errors %>
    <% @errors.each do |error| %>
    <h2> <%= error %> </h2>
    <% end %>
  <% end %>

</fieldset>
