
  <form action="/lists/<%=@list.id %>/comments/new" method="POST">
    <label for="task_description">Add a new task:</label>
    <input type="text" name="task_description">
    <input type="submit" value="Add new task">
  </form>