<div class="container">

<br>
  <% if @errors %>

    <ul>
      <% @errors.each do |error| %>
        <li style="color:red"><%= error %></li>

      <% end %>
    </ul>

  <% end %>

  <form action="/users/<%= current_user.id %>/lists/<%= list.id %>/tasks/new" method="post">
        <label for="title">Task title: </label><br>
        <input type="text" name="task[title]"><br><br>

        <label for="description">Task Description: </label><br/>

        <textarea rows="5" cols="20" name="task[description]">
        </textarea><br><br>

        <label for="due_date">Due Date: </label><br>
        <input type="text" name="task[due_date]"><br><br>
        
        <input type="submit" value="Add Task">
  </form>
</div>