<div id="submit-task-partial">
	<h1>Add a task</h1>

	<form id="submit-task" method="post" action="/lists/<%= @list.id %>/tasks">
		<input type="text" name="name" placeholder="task name">
		<input type="submit" value="add task">
	</form><br>
</div>