<div class="task_container">
  <div class="task_description"><%= task.description %></div>
  <div class="task_priority"><%= task.priority %></div>
  <div class="task_due_date"><%= task.due_date %></div>
  <div class="task_status"><%= task.status %></div>
</div>
