<form id="new-task-form" method="post" action="/lists/<%= @list.id %>/tasks">
  <input type="text" name="description" placeholder="Task Description">

  <input type="submit" name="submit" value="Create Task">
</form>