* {
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 920px;
  margin: 20px auto;
}

nav {
  position: absolute;
  left: 0px;
  width: 200px;
  border: 2px solid black;
}

section {
  margin-left: 220px;
  padding-left: 20px;
  border: 1px solid black;
}

header {
  height: 70px;
  background-color: black;
  color: white;
  margin-top: 0px;
}

#header h1 {
  min-width: 10%;
  max-width: 10%;
  margin: auto;
  padding-top: 15px;
}

#createUser {
  border: 1px solid black;
  height: 300px;

}

form {
  width: 30%;
  margin: 10px auto;  
}

input {
  display: block;
  margin-top: 5px;
}

label {
  display: block;
  padding-top: 5px;
}


#login {
  height: 200px;
}

#logout {
  height: 100px;
}

#logoutButton {
  height: 10%;
  width: 10%;
  margin: 35px auto;
}

#newList {
  height: 40px;
}

#newList a {
  width: 40%;
  margin: 5px auto;
  display: block;
  font-family: serif;
  font-size: 150%
}

.todoListLink {
  border: 1px solid black;
  width: 80%;
  margin: 5px auto;
}

.todoListLink a{
  display: block;
  width:  20%;
  margin: 5px auto;
}

#newList {

  font-size: 120%;
}

#updateList {
  height: 160px;
}

#updateList form {
  font-size: 110%;
  margin-top: 25px
}

#tasks {
  margin: 5px 0px 20px 20px;
  width: 100%;
}

#listTitle {
  margin-bottom: 8px;
}

.taskDisplay {
  margin: 5px auto;
}

#tasks label {
  display: inline-block;
}


.checkbox {
  display: inline-block;
}

#todoDisplay h1 {
  display: inline-block;
}

.addable {
  font-size: 80%;
}

.editable {
  font-size: 70%;
  margin-left: 10px;
  display: inline;
}

#completeButton {
  margin-top: 8px;
  display: block;
}

