<% if @errors %>
  <p>We were unable to log you in due to the following reason(s):</p>
  <% @errors.each do |error| %>
    <ul>
      <li><%= error %></li>
    </ul>
  <% end %>
<% end %>

<form id="login-form" method="post" action="/login">
  <input type="text" name="email" placeholder="Email Address">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" name="submit" value="Login">
</form>