<h1>Sign In:</h1>
<form class="register" action="/users/login" method="post">
  <label for="username">Username:</label><br> 
  <input type="text" name="username"><br> 
  <label for="password">Password:</label><br> 
  <input type="password" name="password"><br><br> 
  <input class="button" type="submit" value="Sign In">
</form>
