<div class="container">
  <h2>Enter login information below:</h2>

  <% if @errors %>
    <ul>
      <% @errors.each do |error| %>
        <li style="color:red"><%= error %></li>
      <% end %>
    </ul>
  <% end %>

    <form action="/users/login" method="post">

      <label for="username">Username:</label>
      <input type="text" name="username"><br><br>

      <label for="email">E-mail:</label>
      <input type="text" name="email"><br><br>

      <label for="password">Password:</label>
      <input type="password" name="password"><br><br>

      <input type="submit" value="Login">

    </form>
</div>