<div class="container">
  <h1>To Do List Web App</h1>
    <h4>By Neel Gupta</h4>
    
    <% if logged_in? %>
      <p>You're currently logged in as <a href="/users/<%= current_user.id %>"><%= current_user.username %></a></p>
    <% end %>


    <h3>List of all users:</h3>
    
    <ul>
      <% @users.each do |user| %>
        <li> <a href="/users/<%= user.id %>"> <%= user.username %> </a></li>
      <% end %>
    </ul>

      <p>Important shit goes here.</p>
      <p>Click <a href="/users/new">here</a> to make a new account.</p>
      <br>
      <br>
      <br>
      <p>Click <a href=""></a></p>

</div>