<% if @errors %>
	<ul>
		<% @errors.each do |error| %>
			<li><%= error %></li>
		<% end %>
	</ul>
<% end %>

<form action='/users/login' method='post'>
	<label for="email-input">email:</label>
	<input type="text" name="email"><br><br>

	<label for="password-input">password:</label>
	<input type="text" name="password"><br><br>

	<input type="submit" value="login">
</form>