<% if @errors %>
    <% @errors.each do |error_message| %>
        <p><%= error_message %></p>
    <% end %>
<% end %>

<form method="post" action="/users/login">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Submizzle"> 
</form>