<form id="registration-form" method="post" action="/register">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="email" placeholder="Email Address">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" name="submit" value="Register">
</form>