<h1>Register Below:</h1>
<fieldset>
  <form method="post" action="/users">
    <label>Username:</label>
    <input type='text' name=user[username] placeholder="Username">
    <br>

    <label>Email:</label>
    <input type='text' name=user[email] placeholder="Email">
    <br>

    <label>Password:</label>
    <input type='password' name=user[password] placeholder="Password">
    <br>

    <input type='submit' value="Create Your List">
  </form>
</fieldset>
