
<h1>your lists</h1>

<ul id="your-lists">
	<% if has_lists? %>
		<% @user_lists.each do |user_list| %>
			<li>
				<a href="/lists/<%= user_list.id %>"><%= user_list.name %></a>
			</li><br>
		<% end %>

	<% end %><br><br>
</ul>


<% if @user_tasks.count > 0 %>
	<h1>completed tasks</h1>
	<% @complete_tasks.each do |completed_task| %>
		<ul>
			<li><%= completed_task.name %></li>
		</ul>
	<% end %><br><br>

	<h1>incomplete tasks</h1>
	<% @incomplete_tasks.each do |incomplete_task| %>
		<ul>
			<li><%= incomplete_task.name %></li>
		</ul>
	<% end %>
<% end %>
<br><br>

<div id="create-list-div">
	<form id="create-list" method="get" action="/lists/new">
			<button type="submit">create list</button>
	</form>
</div>