<h1>your lists</h1>

<% if has_lists? %>
	<% @user_lists.each do |user_list| %>
		<ul>
			<li>
				<a href="/lists/<%= user_list.id %>"><%= user_list.name %></a>
			</li><br>
		</ul>
	<% end %>
<% end %><br><br>

<% if current_user.tasks.count > 0 %>
	<h1>completed tasks</h1>
	<% completed_tasks.each do |completed_task| %>
		<ul>
			<li><%= completed_task.name %></li>
		</ul>
	<% end %><br><br>

	<h1>incomplete tasks</h1>
	<% incomplete_tasks.each do |incomplete_task| %>
		<ul>
			<li><%= incomplete_task.name %></li>
		</ul>
	<% end %>
<% end %>
<br><br>


<a href="/lists/new"><h1>new list</h1></a>