<h2>Register:</h2>

<% if @errors %>
<ul>
  <% @errors.each do |error| %>
  <li><%= error %></li>
  <% end %>
</ul>
<% end %>

<form action="/users" method="post">
  <p>
    <span>Username:</span>
    <br>
    <input type="text" name="new_user[username]">
  </p>

  <p>
    <span>Email:</span>
    <br>
    <input type="text" name="new_user[email]">
  </p>

  <p>
    <span>Password:</span>
    <br>
    <input type="password" name="new_user[password]">
  </p>

  <p>
    <input type="submit" value="Register">
  </p>

</form>
