<div>
  <h1>Create a New Todo List</h1>
  <form method="post" action="/lists">
    <label>Name:</label>
    <input type='text' name=list[name] placeholder="Name of List">
    <input type='submit' value="Create Your List">
  </form>
</div>

<% if @errors %>
  <% @errors.each do |error| %>
  <h2> <%= error %> </h2>
  <% end %>
<% end %>

<div>
  <h1>Current Users Lists</h1>
  <% if @lists %>
  <% @lists.each do |list| %>
    <%= erb :'/lists/_list', locals: { list: list }, layout: false %>
    <% end %>
  <% end %>
</div>
