<h2>Log In:</h2>

<%= @error if @error %>

<form action="/login" method="post">
  <p>
    <span>Email:</span>
    <br>
    <input type="text" name="email">
  </p>
  <p>
    <span>Password:</span>
    <br>
    <input type="password" name="password">
  </p>
  <p>
    <input type="submit" value="Log In">
  </p>
</form>
