<h2>Todo Lists</h2>

<% @lists.each do |list| %>
<ul>
  <li>
    <a href="/lists/<%= list.id %>"><%= list.title %></a>
    <% if current_user.id == list.user_id %>
      - <a href="">Delete</a>
    <% end %>
  </li>
</ul>
<% end %>