<h3>List Title: <%= @list.title %></h3>


<ul class="task-list">
<% @list.tasks.each do |task| %>
    <%= erb :'/share/_task', locals: {task: task}, layout: false %>
<% end %>
</ul>

<%= @error if @error %>

<% if logged_in? && @list.user_id == current_user.id %>
  <form class="new-task" action="/lists/<%=@list.id %>/tasks/new" method="POST">
    <label for="task_description">Add a new task:</label>
    <input type="text" name="task_description">
    <input type="submit" value="Add new task">
  </form>
<% end %>
